# for production use real env vars

# default mail transport
# EMIL_MAIL_TRANSPORT=smtp://SMTP_USERNAME:SMTP_PASSWD@SMPT_HOST:465

# admin key for every /admin action
# EMIL_ADMIN_KEY=super-secret-admin-key