
  body, html{
/*     background: url(ui/mesh.png) no-repeat center center fixed;*/
     
     padding: 0;  
     height: 100%;
  }
  .login-screen{
    background: url(amoled-leaf-wallpapers.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* padding-top:100px; */
  }
  #admin-app{
    height: 100%;
  }
  nav{
    margin-bottom: 1rem;
  }
  footer, header, main{
    padding:0;
  }
  h1.logo{
    background-color: white;
    display: inline-block;
    padding: 8px;
    position: absolute;
  }

  span.logo{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px;
    font-size:24px;
  }

  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(100%);
    opacity: 0;
  }

  div.c-message {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  div.c-message p {
    margin: 0; }

  .piano{
    color:#aaa;
  }
  .sm{
    font-size: smaller;
  }
  .keyvalue{
    margin-bottom: 16px;
  }
  a img{
    height: 18px;
    margin-bottom: -2px;
  }
  button img{
    height: 18px;
    margin-bottom: -2px;
  }
  .value{
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    word-break: break-all;
    padding: 0.4rem 0.8rem;
    font-family: var(--font-mono);
  }
  .value-edit{
    margin:-8px;
    background-color: chartreuse;
  }
  .value-edit input{
    box-sizing: border-box;
    width:100%;
    margin-bottom: 2px;
    line-height: 24px;
    font-family: var(--font-mono);
    /* border: 2px solid black; */
  }
  .value-edit button{
    font-size: 11px;
    
  }
  .new_data{
    background-color: #f4f4f4;
    margin-bottom: 36px;
    padding-top: 16px;
  }
  button.secondary{
    /* background-color: #ddd; */
  }
  button.secondary:hover{
    /* background-color: white; */
  }

  .prop-list-move {
    transition: transform 0.5s;
  }

/*
  silver grid
  https://mtm.dev/grid
*/
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid.nowrap{
    flex-wrap: nowrap;
  }
  
  .column {
    box-sizing: border-box;
    flex: 1;
    padding: 0 1rem;
  }
  
  .bigger { flex: 2.5; }
  .smaller { flex: 0.5; }
  .halves .column  { flex: 0 0 50%; }
  .thirds .column  { flex: 0 0 33.3333%; }
  .fourths .column { flex: 0 0 25%; }
  
  @media (max-width: 900px) {
    .grid { display: block; }
  }

  ul{
    margin:0;
    padding: 0;
    list-style-type: none;
  }
  .org-index a{
    color:black;
    padding:4px;
    text-decoration: none;
  }
  .org-index a.active{
    color:white;
    background-color: black;
  }
  main{
    background-color: white;
  }
  .login{
    margin:0 auto;
    padding-top:100px;
    width:50vh;
    min-height: 50vh;
    /*background: white;*/
  }
  .login .felement{
    margin-bottom: 36px;
  }
  .login label{
    width:auto;
    display: inline-block;
    padding: 0px 4px;
    margin-bottom: 4px;
    background: white;
  }
  .login .inp{
    background: white;
    display: inline-block;
    padding: 6px;
  }
  .login input{
    background: white;
    border: 2px solid black;
    outline: none;
    font-size: 24px;
    padding: 4px;
    margin-bottom:0;
  }
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
  .felement.btnxxx{
    background-color: white;
    display: inline-block;
    padding: 4px;
  }
  button{
    margin:0;
    padding:0 4px;
  }
  .login button{
    color: black;
    border: 2px solid black;
    font-weight: bold;
    background-color: #FFDC00;
    padding: 4px 24px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .login button:hover{
    background: #ffff00;
  }


.v--modal{
  padding:16px !important;
  height: 80%;
}
.v--modal h2{
  margin-top: 0;
}
label{
/*  width:14%;*/
  display: inline-block;
}
.startscreen{

}
.startscreen p{
  margin-top: 200px;
  text-align: left;
}
p.gray{
  color: #aaa;

}
#splash[v-cloak]{
   padding:100px;
   display:block;
   width:100%;
   height:100%
   margin-top:30%;
   background:#000;
   color: white;
   text-align:center;
}
#splash *{
   margin-top:0;
   margin-bottom:400px;
}
#splash h1{
   font-size:64px;
}
#splash p{
   font-size: 36px;
}
#splash{
   display:none;
}
