<!doctype html>
<html>
<head>
  <title>emil admin</title>
  <link rel="shortcut icon" type="image/x-icon" href="ui/favicon.png">
  <link rel='stylesheet' href='ui/nprogress.css'/>
  <link rel='stylesheet' href='ui/mvp.css'/>
  <link rel='stylesheet' href='ui/app.css'/>

<style>
  [v-cloak] {
    display: none;
  }
</style>

<script type="text/javascript">
    window.__INIT_DATA__ = '';
</script>

<style>


</style>
</head>
<body>

  <div id="admin-app">
    <h1 class="logo">emil</h1>
    
     

     <div v-if="!login" class="xcontent">
      <main class="grid">
       <div class="smaller column">
        <ul class="org-index">
          <li v-for="item in orgs"><a v-on:click="select_org(item)" href="javascript:;" v-bind:class="{active:(org && org.name==item)}"  v-html="item"></a>
        </ul>
       </div>

       <div class="bigger column">
        <div v-if="org" class="grid">
          
          <div id="props" :key="org.name" class="bigger column">

            <p><mark>{{active}}</mark></p>
            <div class="grid thirds">
              <div class="smaller column">
                <input v-model="new_k" type="text" placeholder="key">
              </div> 
              <div class="column">
                <input v-model="new_v" type="text" placeholder="value">
              </div>
              <div class="smaller column">
                <button @click="pref_add">+</button>
              </div>
            </div>
            <transition-group name="prop-list" tag="div">
              <div v-for="(item, index) in preferences" :key="item.k">
                <qedit @changed="pref_change" 
                  :value="item.v" :name="item.k" :key="item.k">
                  <span @click="pref_remove(item)" class="remove">X</span>
                </qedit>
              </div>
            </transition-group>
          </div>

          <div id="templates" class="column">
            <ul>
            <li v-for="item in org.templates"><strong>{{item.name}}</strong><br>
              <span>{{item.modified_at}}</span> <span>{{item.size}}</span>
            </li>
          </ul>
          </div>
        </div>
        </div>
      </main>
    </div>

    <div v-else class="login">

       <transition name="bounce">
          <div v-if="loginerr" class="error"><img src="ui/hate.gif">
          </div>
       </transition>
       
      <form v-on:submit.prevent>
        <div class="felement">
          <label for="username">Username</label><br>
          <div class="inp">
            <input required v-model="user" type="text" id="username" name="username">
          </div>
        </div>
        <div class="felement">
          <label>Password</label><br>
          <div class="inp">
            <input required v-model="password" type="password" id="password" name="password">
          </div>
        </div>
        <div class="felement btn">
          <div class="inp">
            <button type="submit" @click="do_login">Login</button>
          </div>
        </div>
      </form>
            
    </div>


  

  </div>


<script src="ui/vue.js"></script>
<script src="ui/nprogress.js"></script>
<script src="ui/qedit.vue.js"></script>

<script>
var hour = new Date().getHours()
var isNight = hour < 6 || hour > 21
if (isNight) {
  var html = document.getElementsByTagName('html')[0]
  html.classList.add('dark')
}

function obj_to_array(obj){
  var arr = Object.keys(obj).map(function(key, index) {
    return {k:key, v:obj[key]}
  })
  arr.sort(function(a, b) {
    if (a.k < b.k) {
      return -1;
    }
    if (a.k > b.k) {
      return 1;
    }
    return 0;
  })
  return arr
}

function array_to_object(arr){
  return arr.reduce(function(result, val) {
    result[val.k] = val.v
    return result
  }, {})
}

Vue.component("Qedit", Qedit);


NProgress.configure({ parent: 'body' }); 

const edapp = new Vue({
  components: {
           //    draggable: vuedraggable
          //     markdown_editor: VueEasyMDE
           },
  el: '#admin-app',
  data: function(){
    return {
      ed_content: null,
      active: null,
      base: 'blog/',
      story: null,
      
      login: false,
      user: null,
      password: null,
      loginerr: false,
      
      new_k: "",
      new_v: "",

      orgs: [],
      org: {preferences: {}, templates:[]},
      preferences: [],
      index: [], 
      cstory:{slug:'', title:''},
      estory:{}
    };
  },
  methods: {
    select_org: function (item) {
      console.log(item);
      NProgress.start()
      this.active = item;
      // this.org = item;
      this.fetch("/admin/org/"+item).then(data => {
        this.org = data
        this.preferences = obj_to_array(data.preferences)
       // this.$set(this.org, 'preferences', data.preferences)
      })

    },
    pref_add: function(){
      if(this.new_k){
        this.preferences.unshift({
          k: this.new_k,
          v: this.new_v
        })
        this.new_k = this.new_v = ""
      }
      this.update_prefs()
    },
    pref_change: function(d){
      console.log('need update', d)
      var prefs = array_to_object(this.preferences)
      prefs[d.name] = d.value
      this.update_prefs(prefs)
    },
    pref_remove: function(item){
      console.log('need update ++ remove', item)
      this.preferences.splice(this.preferences.indexOf(item), 1)
      this.update_prefs()
    },
    update_prefs: function(obj){
      var prefs = obj || array_to_object(this.preferences)
      this.fetch("/admin/org/"+this.org.name, prefs).then(data => {
        this.org = data
        this.preferences = obj_to_array(data.preferences)
      })
    },
   do_login: function(){
      this.fetch('/login', {user:this.user, password:this.password}).then(data => {
         console.log("data...", data)
         if(data.ok){
          this.login=false
          this.init()
         }else{
          this.loginerr=true
         setTimeout(() => {
           this.loginerr = false
         }, 2000)
         }
        
       })
   },
    fetch: async function(url, data){
       var opts = {}
       if(data){
          opts.body = JSON.stringify(data)
          opts.method = 'POST'
      }
      NProgress.start()
       var res = await fetch(url, opts).finally(function(){
        NProgress.done()
       })

       if(res.status==401){
          this.login = true
          return {err: 'auth'}
       }
       if(!res.ok){
          console.error("err...", res);
          return {err: 'fail'}
          // return Promise.reject(res);
       }
       

       console.log("++ resp", res)
       return await res.json()
    },
    /*
      on mount
      or after timeout of token + new login
    */
    init: function(){
      this.fetch('/admin/orgs').then(data => {
        console.log("data...", data)
        this.orgs = data.orgs
      })
      if(this.active){
        this.fetch("/admin/org/"+this.active).then(data => {
          this.org = data
          this.preferences = obj_to_array(data.preferences)
        })
      }
    }
  },
  mounted: function(){
    console.log("mounting");
    var vm = this;
    vm.index = window.__INIT_DATA__;
    this.init()
    
  }
});



</script>
</body>
</html>
