<!doctype html>
<html>
<head>
  <title>emil admin</title>
  <link rel="shortcut icon" type="image/x-icon" href="ui/favicon.png">
  <link rel='stylesheet' href='ui/nprogress.css'/>
  <link rel='stylesheet' href='ui/app.css'/>

<style>
  [v-cloak] {
    display: none;
  }
</style>

<script type="text/javascript">
    window.__INIT_DATA__ = '';
</script>

<style>


</style>
</head>
<body>

  <div id="admin-app">

     <h1>emil</h1>

     <div v-if="!login" class="content">
       <div id="orgs">
        <ul>
          <li v-for="item in orgs"><a v-on:click="select_org(item)" href="javascript:;" v-bind:class="{active:(org && org.name==item)}"  v-html="item"></a>
        </ul>
       </div>

       <div v-if="org" id="org">
         {{org}}
         <br><br><br><br><br>
        <div id="props">
          <div v-for="(value, name) in org.preferences">
            <label>{{name}}</label> <span>{{value}}</span><br>
          </div>
        </div>
        <div id="templates">
          <li v-for="item in org.templates"><strong>{{item.name}}</strong><br>
            <span>{{item.modified_at}}</span> <span>{{item.size}}</span>
          </li>
        </div>
       </div>
    </div>

    <div v-else class="login">

       <transition name="bounce">
          <div v-if="loginerr" class="error"><img src="ui/hate.gif">
          </div>
       </transition>
       
      <form v-on:submit.prevent>
        <div class="felement">
          <label for="username">Username</label><br>
          <div class="inp">
            <input required v-model="user" type="text" id="username" name="username">
          </div>
        </div>
        <div class="felement">
          <label>Password</label><br>
          <div class="inp">
            <input required v-model="password" type="password" id="password" name="password">
          </div>
        </div>
        <div class="felement btn">
          <div class="inp">
            <button type="submit" @click="do_login">Login</button>
          </div>
        </div>
      </form>
            
    </div>




  </div>


<script src="ui/vue.js"></script>
<script src="ui/nprogress.js"></script>

<script>

NProgress.configure({ parent: 'body' }); 

const edapp = new Vue({
  components: {
           //    draggable: vuedraggable
          //     markdown_editor: VueEasyMDE
           },
  el: '#admin-app',
  data: function(){
    return {
      ed_content: null,
      active: null,
      base: 'blog/',
      story: null,
      
      login: false,
      user: null,
      password: null,
      loginerr: false,
      
      orgs: [],
      org: {preferences: {}, templates:[]},

      index: [], 
      cstory:{slug:'', title:''},
      estory:{}
    };
  },
  methods: {
    select_org: function (item) {
      console.log(item);
      NProgress.start()
      this.active = item;
      // this.org = item;
      this.fetch("/admin/org/"+item).then(data => {
        this.org = data
      })

    },
   do_login: function(){
      this.fetch('/login', {user:this.user, password:this.password}).then(data => {
         console.log("data...", data)
         if(data.ok){
          this.login=false
         }else{
          this.loginerr=true
         setTimeout(() => {
           this.loginerr = false
         }, 2000)
         }
        
       })
   },
    save_content: function(){
      var that = this;
      $axios.post('/story-save-content', {id: that.story.id, content: that.story.o_content})
        .then(resp => {
          if(resp.data) that.story = resp.data;
        });
    },
    fetch: async function(url, data){
       var opts = {}
       if(data){
          opts.body = JSON.stringify(data)
          opts.method = 'POST'
      }
      NProgress.start()
       var res = await fetch(url, opts).finally(function(){
        NProgress.done()
       })

       if(res.status==401){
          this.login = true
          return {err: 'auth'}
       }
       if(!res.ok){
          console.error("err...", res);
          return {err: 'fail'}
          // return Promise.reject(res);
       }
       

       console.log("++ resp", res)
       return await res.json()
    }
  },
  mounted: function(){
    console.log("mounting");
    var vm = this;
    vm.index = window.__INIT_DATA__;
    this.fetch('/admin/orgs').then(data => {
      console.log("data...", data)
      this.orgs = data.orgs
    })
    
      
    
    /*
    this.$modal.beforeOpen = function(e){
      console.log(e);
    };
*/
    /*
    $axios.get('/all')
      .then(function (response) {
      // handle success
      console.log(response.data);
      vm.index = response.data;
    });
    */
  }
});

// }, 50000);

</script>
</body>
</html>
